# Dependencias
node_modules/

# Variables de entorno
.env


# Mantener la carpeta data
data/*.json
!data/.gitkeep

# Logs
logs/
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de VSCode
.vscode/

# Cobertura de pruebas
coverage/

# Archivos temporales
*.tmp
*.temp